<%- include('../partials/userHeader')%>

    <section class="container my-5" style="width: 35rem;">
    
        
        <div class="text-center">
            <img src="/images/cartempty.webp" class="img-fluid">
          <h5 class="card-title">Want to Add Products to your Cart?</h5>
          <p class="card-text">Login to add products to your cart and purchase</p>
          <a href="/userLogin" class="btn  btn-primary px-5">Login</a>
        </div>
       
      
    </section>

      <%- include('../partials/footer')%>